body{
    font-family: arial, serif;
    font-size: 15px;
    line-height:1.6em;
}

li{
    list-style: none;
}

a{
    text-decoration: none;

}

label{
    display: inline-block;
    width: 180px;

}
.container3{

    width: 60%;
    margin-left:200px;
    /*margin-top:60px;*/
    /*margin:0 auto;*/
    overflow: auto;
}

input[type='text']{
    width: 97%;
    padding: 4px;
    border-radius: 5px;
    border: 1px #ccc solid;
}

input[type='number']{
    width: 50px;
    padding: 4px;
    border-radius: 5px;
    border: 1px #ccc solid;
}

.container4{
    font-size: 20px;
}
.container4 ul {
    margin-bottom: 100px;
}
.container4 .buton{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding:12px 34px;
    background-color: #76b6c4;
    cursor:pointer;
    position: relative;
    display: inline-block;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
.container4 .buton:hover{
    border:1px solid black;
    background:#1da2d8;
    transition: 1s;
}

.header3{
    border-bottom:3px #f4f4f4 solid;
    margin-left:200px;
    margin-bottom: 60px;
}


main{
    padding-bottom:20px;
}

a.start{
    display: inline-block;
    color: #666;
    background: #f4f4f4;
    border:1px dotted #ccc;
    padding: 6px 13px;
}

.current{
    padding: 10px;
    background: #f4f4f4;
    border: #ccc dotted 1px;
    margin: 20px 0 10px 0;
}

@media only screen and (max-width: 960px){
    .container {
        width: 80%;
    }
}