*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
html{
    background-color:#F6F6F6;
}
.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content{
    flex:1; 
}
.header1
{
    width: 100%;
    height: 80px;
    padding-top:1%;
    padding-bottom:1%;
}
.header1 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header1 nav img{
    width:250px;
    height: 200px;
    padding-top:12%;
    margin:12%;
}
.header1-links{
    flex:1;
    text-align: right;
}
.header1-links ul li {
    list-style: none;
    display: inline-block;
    padding-right:5%;
}
.header1-links ul li a{
    color:black;
    text-decoration: none;
    font-size: 20px;
}
.header1-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin:auto;
    transition: 0.5s;
}
.header1-links ul li:hover::after{
    width: 100%;
}

.meniu{
    padding-bottom: 2%;
    height: 110px;
}
.meniu nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#FFD700;
    height: 100%;
    overflow: hidden;
}
.meniu-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 50px;
}
.meniu-links ul li a{
    color:black;
    text-decoration: none;
    font-size: 20px;
}

.meniu-links ul li::after, .footer-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin:auto;
    transition: 0.5s;
}
.meniu-links ul li:hover::after, .footer-links  ul li:hover::after{
    width: 100%;
}
.meniu-links > .dropdown {
    float: left;
    overflow: hidden;
  }
.meniu-links  .dropdown-content {
    display: none;
    position: absolute;
    background-color:#FFD700;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.meniu-links  .dropdown .fa{
    font-size:15px;
}
.meniu-links  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .meniu-links  .dropdown-content a:hover {
    background-color: #3A98B9;
  }

  .meniu-links  .dropdown:hover .dropdown-content {
    display: block;
  }
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    margin-top:5%;
}
.footer h4{
    margin-bottom: 10px;
    margin-top:20px;
    font-weight: 600;
    display: block;
    padding: 10px;
    border-top: solid 2px;
   
}
.footer p{
    padding-bottom: 10px;
}
.footer-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 50px;
    position: relative;
    font-size:20px;
}
.footer-links ul li a{
    color:black;
    text-decoration: none;
    font-size: 20px;
}
.useful-links ul li {
    list-style: none;
    padding: 8px 50px;
    position: relative;
}
.useful-links ul li a{
    color:black;
    text-decoration: none;
    font-size: 15px;
    border-bottom: black solid;
    border-width: 1px;
}
.feedback{
    text-align: left;
    padding-left:38%;
    position: relative;
    display: flex;
}
.star-rating {
    display: flex;
    align-items: center;
    width: 160px;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
    margin-top:6px;
    margin-left:20px;
  }
.star-rating input {
    display: none;
 }
 .star-rating > label {
    width: 30px;
    height: 30px;
    font-family: Arial;
    font-size: 30px;
    transition: 0.2s ease;
    color: orange;
  }
  .star-rating label::before {
    content: '\2606';
    position: absolute;
    top: 0px;
    line-height: 26px;
  }
  .star-rating label:hover {
    content: "\2605";
    color: #f5c518;
  }
  .star-rating label:active::before {
    transform:scale(1.1);
  }

  .star-rating input:checked ~ label:before {
    content:'\2605';
  }

.icons .fa, .fa-brands{
    color:black;
    margin:0 13px;
    cursor:pointer;
    padding: 18px 10px;
}
.fa{
    color:black;
    margin:0 13px;
    cursor:pointer;
    padding: 18px 10px;
}
@media screen and (max-width: 1024px)
{
    .meniu-links ul li a{
        font-size: 20px;
    }
    .meniu-links ul li {
        padding: 8px 10px;
    }
    .footer{
        margin-top:7%;
    }
    .feedback{
        margin:auto;
        padding-left: 0%;
        width: 100%;
    }
    .feedback .title{
        padding-left: 22%;
    }
}
@media screen and (max-width: 500px) {
    .header-links ul li a{
        font-size: 13px;
    }
    .header nav img{
        width:200px;
        height: 150px;
    }
    .meniu-links ul li a{
        font-size: 12px;
    }
    .meniu-links ul li {
        padding: 8px 10px;
    }
    .dropdown .fa{
        font-size:10px;
    }
    .footer{
        margin-top:4%;
    }
    .footer-links ul li {
        padding: 8px 20px;
    }
    .feedback{
        margin:auto;
        padding-left: 0%;
        width: 100%;
    }
    .feedback .title{
        padding-left: 10%;
    }
}
@media screen and (max-width: 400px) {
    .text {
        font-size: 20px;
        top:69px;
        
      }
    .header-links ul li a{
        font-size: 13px;
    }
    .header nav img{
        width:200px;
        height: 150px;
    }
    .meniu-links ul li {
        padding: 8px 5px;
    }
    .dropdown .fa{
        font-size:10px;
    }
    .row .fa-solid {
        font-size: 20px;
      }
      .row a {
        height: 100px;
      }
      .row h1 {
        font-size:10px;
      }
    .footer-links ul li {
        padding: 8px 20px;
    }
    .footer-links ul li a {
        font-size:13px;
    }
    .feedback{
        display: block;
        margin:auto;
        padding-left: 0%;
        width: 100%;
    }
    .feedback .title{
        margin:auto;
        
    }
    .feedback .star-rating{
        margin:auto;
    }
}